@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: white; 
}



.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.todo {
    width: 1360px;
    height: 65vh;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 20px;
    display: flex;
}
.solmenu {
    width: 60px;
    min-width: 60px;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.kisayollar {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.kisayollar img {
    width: 40px;
    margin-top: 30px;
}
.sagmenu {
    width: 1300px;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
#todo-baslik {
    color: white;
    font-family: 'Comfortaa';
    margin: 30px 20px;
}
.topbar {
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}
#todo-form, #filter, #todo-form-buton {
    margin-left: 20px;
    display: none;
}
.todo input {
    width: 400px;
    height: 40px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
}
.todo button {
    width: 120px;
    height: 40px;
    font-size: 20px;
    color: rgb(0, 170, 0);
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(0, 170, 0);
    cursor: pointer;
}
.todo button:hover {
    color: white;
    background-color: rgb(0, 170, 0);
    transition-property: all;
    transition-duration: 400ms;
}
.todolar {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5px;
}
.todolar-oge {
    width: 95%;
    height: 70px;
    background-color: white;
    margin: 5px 0;
    padding-left: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}
.todolar-oge a {
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 20px;
}
.todolar-oge a:hover {
    background-color: #ff1744;
}
.temizlekisayol {
    display: flex;
    justify-content: center;
}
.todolari-temizle img {
    width: 40px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 1400px) {
    .todo { width: 1160px; }}
@media only screen and (max-width: 1200px) {
    .todo { width: 960px; }}
@media only screen and (max-width: 1000px) {
    .todo { width: 760px; }}
@media only screen and (max-width: 800px) {
    .todo {
        width: 98vw;
        height: 90vh;
        margin-top: 0px;
    }}
@media only screen and (max-width: 650px) {
    .todo input { width: 300px; }
    .todo button { width: 80px; }}
@media only screen and (max-width: 510px) {
    .todo input { width: 200px; }
    .todo button { width: 70px; }}
@media only screen and (max-width: 400px) {
    .todo input { width: 100px; }
    .todo button { width: 60px; }}
@media only screen and (max-width: 280px) {
    .todo { background-color: pink; }
    .todo input { width: 50px; }
    .todo button { width: 50px; }
    #todo-baslik { font-size: 25px; }}